[Desktop Entry]
Name=Panoply
Exec=HOMEDIRECTORY/.local/bin/panoply_podman.sh %U
Icon=HOMEDIRECTORY/.local/share/icons/panoply-logo-small.png
Type=Application
Terminal=false
Categories=Office;
MimeType=application/x-netcdf
